<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th class="table-primary">Title:</th>
                <td>{{book.title}}</td>
            </td>
            <tr>
                <th class="table-primary">Category:</th>
                <td>{{book.category}}</td>
            </tr>
            <tr>
                <th class="table-primary">Price:</th>
                <td>{{book.price}}</td>
            </tr>
            <tr>
                <th class="table-primary">Pages:</th>
                <td>{{book.num_pages}}</td>
            </tr>
            <tr>
                <th class="table-primary">Publisher:</th>
                <td>{{book.publisher}}</td>
            </tr>
            <tr>
                <th class="table-primary">Number of Reviews:</th>
                <td>{{book.num_reviews}}</td>
            </tr>
            <tr>
                <th class="table-primary">Review Average:</th>
                <td>{{book.review_avg}}</td>
            </tr>
        </table>
    </div>
</div>


