{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block nav %}
{% endblock nav %}

{% block content %}
    <div class="row justify-content-center">
        <h1>Request new password</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form id="id_forgot_password" action="{% url 'myapp:forget_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input name="email" type="email" id="email" size="80">
                </div>
                <input type="submit" value="Request new password" class="btn btn-primary" />
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
