{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% if member.photo.url != '' %}
                <img src="{{ MEDIA_URL }}{{member.photo.url}}" class="img-thumbnail" style="height:100%">
            {% else %}
                <img src="{% static 'myapp/img/default_user.png' %}" class="img-thumbnail" >
            {% endif %}
        </div>
        <div class="col-md-6">
            {% crispy form %}
        </div>
    </div>
{% endblock content %}